[Desktop Entry]
Name=ReSet
GenericName=SettingsApplication
GenericName[de]=SettingsApplikation
Exec=reset
Terminal=false
Type=Application
Keywords=settings;gtk;
Icon=ReSet
Categories=Utility;GTK;
StartupNotify=false
