button.resetClose {
    border-radius: 25px;
}

row.resetSidebarEntry {
    border-radius: 5px;
}

label.resetSettingLabel {
    font-size: 32px;
    font-weight: bold;
}

frame.resetSettingFrame {
    border-radius: 5px;
    padding: 10px;
}

label.resetSettingLabel {
    font-size: 32px;
    font-weight: bold;
}

row.audioRow  {
    border-color: transparent;
}

notebook > stack > box, notebook > stack {
    background-color: @window_bg_color;
}

banner {
  border-radius: 5px;
}

row.selectedLanguage {
    background-color: @dialog_bg_color;
}

row.activeLanguage {
    background-color: @blue_2;
}