[Desktop Entry]
Name=ReSet
GenericName=SettingsApplication
GenericName[de]=SettingsApplikation
Exec=ReSet
Terminal=false
Type=Application
Keywords=settings;gtk;
Icon=org.Xetibo.ReSet
Categories=Utility;GTK;
StartupNotify=false
